.App {
  display: flex;
  margin: 1rem;
}

.leftSide {
  flex: 1;
  padding: 1rem;
  background: rgb(74, 102, 76);
  border-radius: 0 1rem 1rem 0;
  color: white;
}

.rightSide {
  flex: 5;
  text-align: center;
}

.rightSide h1 {
  font-stretch: ultra-expanded;
  font-weight: bold;
  color:rgb(74, 102, 76);
}

footer {
  text-align: center;
  margin-top: 2.5rem;;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  background: #f6f6f6;
  border-radius: 1rem 0 0 1rem;
}