
/* SearcgForm comp styles */
.searchForm {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}


/* Car comp styles */
.car {
  padding: 2rem;
  margin: 0.5rem;
  background: white;
  border: 1px solid goldenrod;
  border-radius: 8rem 0 8rem 0;
}